

body {
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

header {
    color: #000000;
    text-align: center;
}


h1 {
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1%;
}

a {
    text-decoration: none;
    line-height: 22px;
    color: #666666;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.apples img {
    height: 30%;
    width: 30%;
    text-align: center;
    align-content: center;
    border: 1px solid #A19893;
}

.apples {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.apples > p {
    line-height: 20px;
}

.apples > h2 {
    color: #A19893;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

.weeks {
    width: 30%;
    float: left;
    padding-bottom: 1%;
    display: inline-block;
    padding-left: 30px;
}

.notes {
    width: 100%;
    float: left;
    padding-bottom: 2%;
    color: #C5BAB5;
    font-size: 20px;
    font-style: italic;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #7B0F20;
    border: 20px solid #ffffff;
    color: #ffffff;
}

.gaara {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 2%;
}

.gaara img {
    height: 150px;
    width: 150px;
    text-align: center;
    align-content: center;
    border: 1px solid #000000;
}

ul {
    list-style-type: none;
}
