body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    background color:white;
    padding:2% 1%;
    width:98%;
    
}

h1{
    font-size: 25px;
    float:left;
}

ul li{
    display:inline-block;
    float:right;
}

.clearfix:after {
    clear:both;
    content:"-";
    display:block;
    height:0;
    line-height: 0;
    visibility: hidden;
}

nav a{
    color:#2f2f2f;
    text-decoration: none;
    margin-left: 5px;
    font-size: .75em;
    
}

main{
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    text-align: center;
    color:white;
}

main > div{
    background-color: rgba(0,0,0,.6);
    padding:200px 0;
}

.2boxes{
    width:100%; 
}

.2boxes div{
    float:left;
}

.box2 img{
    width:70%;
    margin-left: 15%;
}

.box1{
    width:60%;
    float:left;
}

.box2{
    width:40%;
    float:left;
}


