@font-face {
   font-family: Bell;
   src: url(../fonts/BELL.TTF);
}


h1{
    font-family: 'Petit Formal Script', cursive;
    color:#A6D785;
    font-weight: 400;}

p {
    font-family:Bell; 
}
    hg