*{
    font-family:Sans-serif;
}


#apples div:nth-child(2){
    margin-top:30px;
}


.recipes img {
    height:250px;

}

.brag{
    height: 250px;
}
header{
    color:white;
    background-color:#B0E0E6;
}

header p a{
    font-size: 12px;
    color: white;
    margin-left: 10px;
}

header p{
    margin-top: 15px;
    margin-right: 14px;
}

header h1{
    margin-top: 13px;
    margin-left: 30px;
    font-size: 60px;
}
        
main{
margin-top: 30px;
}

.second-section{
    margin-top: 20px;    
}

.buttons{
    margin-top: 1px;
    font-size: 15px;
}

a:link {
    color: black;
}

footer{
    text-align: center;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
