
  html {
        /* Size of largest container or bigger */
        max-width: 1080px;
      padding-left: 100px;
      padding-right: 100px;
    }

body {
    font-family: 'Roboto', sans-serif;
font-size: 1em;}


nav {
    padding: 20px 20px;
}

h1 {
    font-size: 4em;
    float: left;
    color: #4D9164;
    font-family: 'Julius Sans One', sans-serif;
}

nav ul {
    float: right;
}

ul li {
    display: inline-block;
    float:left;
}

a {
    text-decoration: none;
    font-size: .5em;
    color: #4D9164;
    padding-left: 10px
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

main {
    background-image: url(../img/crossfitlegs.jpg);
    background-size: cover;
    text-align: center;
    color: ghostwhite;
    max-width: 1080px;
    background-color: rgba(0, 0, 0, .9);
    background-position: center center;
}

main > div {
    background-color:rgba(0,0,0,.6);
    padding-top: 5%;
    padding-bottom: 5%;
}


main a {
    text-decoration: none;
    font-size: .75em;
    padding: 7px;
    background-color: #4D9164;
    border: 1px dashed white;
    color: white;
}

h2 {
    font-size: 3em;
}

.halfpage {
    max-width: 1080px;
}

.apple{
    width: 34%;
    float: left;
    height:100%;
    padding-top:2%;
    padding-bottom: 1%;
}

.orange{
    width: 62%;
    float: left;
    padding: 2%;
    text-align: justify;

}

.halfpage > p {
    text-align: center;
}

.halfpage div {
    float: left;
    display: inline;
}

.halfpage a {
    text-decoration: none;
    font-size: .75em;
    padding: 2px;
    background-color: #4D9164;
    color: white;
}

h3 {
    text-align: center;
}

.halfpage img {
    width: 100%;
    float: left;
}

h4 {
    color: #4D9164;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}

.section3 {
    text-align: center;
    color: #038A94;
    max-width: 1080px;
    height: 300px;
}

.section3 img {
    width: 90%;
    height: 50%;
    padding:0% 5%;
    float: left;
}

.section3 > div {
    float: left;
    display: inline;
    width: 50%;
    align-content: center;
}

.motivation {
    width: 25%;
    display: inline-block;
    float: left;
    text-align: center;
    padding-bottom: 10px;
}

.motivation  div {
    float: left;
    display: inline-block;
    width: 20%;
}
.motivation > h3 {
    color: #4D9164;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 26px;
}

.motivation > p {
    color: #4D9164;
    font-size: 15px;
    text-align: center;
}
.motivation > img {
    height: 200px;
}
.motivation ul {
    text-align: left;
    padding-left: 10px;
}

.motivation > a {
    background-color: #AFD955;
    color:white;
    padding: 8px 25px;
}
.freeclass {
    background-image:url(../img/CFhand.jpg);
    background-size:cover;
    text-align:center;
    color:ghostwhite;
    background-color:rgba(0, 0, 0, .9);
    height: 50vh;
    background-position:bottom center;
}

.freeclass > div{
    background-color:rgba(0,0,0,.6);
    padding-top: 9%;
    padding-bottom: 8%;
}