/*Add CSS rules*/
html, body{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

#mainbody{
    font-family: Arial;
    width: 100%;
}

#mainbody:after{
    clear:both;
    content:".";
    display: block;
    height:0;
    line-height:0;
    visibility: hidden;
    
}


.section2 {
    width:50%;
    margin:5%;
    float:right;
    background-color: lightgrey;
    
}

.section3 {
    width:100%;
    margin:5%;
    float:left;
    background-color: white;
    
}

img{
    width:100%;
}


a {
    font-size: 8px;
    margin-top: 10px;
    padding:10px;
    background-color: #ddd;
    border-right:5px solid red;
    
}

a:hover{
    
    background-color: aliceblue;
    transition: all 2s;
}

p{
    font-size: 12px;
    line-height: 1.5;
}

li:before {
  content:'✔';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: green;
}

#container{
    width:100%;
    background-color: white;
    margin: auto;
}

.box{
    display: inline-block;
    width:50%;
}

.section1 {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightgray;

}

.section1 img {
    width:100%;
    height:100%;
}


.section2 {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightgray; 
}

.section2 img {
    width:50%;
    height:50%;
}

.section2 h2 {
    display: inline;
    text-align: center;
}

.section2 p {
    display: inline;
    text-align: center;
}

.section3 {
    display:inline-block;
    margin:5px;
    width:33.3333%;
    float:left;
}