*{
    margin:0px;
    padding:0px;
    outline: 1px black solid;
}

body{
    width:80%;
    margin-left: 10%;
}

#header{
    color:white;
    text-align: left;
    background-color: dodgerblue;
    font-family: tahoma;
    font-size: 16px;
}

#IntelCorei7{
    color:black;
    text-align: left;
    background-color: white;
    font-size:14px;
}

#readywakecreate{
    color:black;
    text-align: left;
    font-size: 14px;
    width:50%;
    float:left;
    margin-top: 60px;
}

#processor{
    float: right;
    width: 50%;
    height:50%;

}

#customersupport{
    background-color: lightgrey;
    font-family: tahoma;
    font-size: 14px;
    clear:right;
    margin-top: 60px;
    margin-bottom: 60px;
}

#overview{
    background-color: white;
    font-family: tahoma;
    font-size: 14px;
}

#ssd{
    float:left;
    background-color:white;
    width:50%;
    height:50%;
}

#architect{
    font-family:tahoma;
    font-size: 14px;
    background-color:white;
    margin-top:60px;
}

