header{
    color:white;
    text-align: left;
    background-color: dodgerblue;
    font-family: tahoma;
    font-size: 10px;
}

#IntelCorei7{
    color:black;
    text-align: left;
    background-color: white;
    font-size:10px;
}

#readywakecreate{
    color:black;
    text-align: left;
    background-color: white;
    font-size: 10px;
    width:50%;
    float:left;
    margin-top: 80px;
}

#processor{
    float: right;
    width: 480px;
    height: 270px;
    
    
}

#customersupport{
    background-color: lightgrey;
    font-family: tahoma;
    font-size: 10px;
    clear:right;
    margin-top: 60px;
    margin-bottom: 60px;
}

#overview{
    background-color: white;
    font-family: tahoma;
    font-size: 10px;
}

#ssd{
    float:left;
    background-color:white;
}

#architect{
    font-family:tahoma;
    font-size: 10px;
    background-color:white;
}

