.clearfix:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }


.section1 {
    background-color:mediumpurple;
    height:400px;
}

.section2 img{
      height:200px;
    display: inline;
    float:center;
}

.section3{
    float:center;
}

.section3 img{
    height:200px;
    display: inline;
    float:center;
    
}

.section4{
    background-color:lightgrey;
    height:100%;
}

#half1 {
    background-color: mediumpurple;
}
